nav {
  margin-bottom: 12%;
  color: #fff;
}

.navBox {
  padding: 6%;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  width: 70%;
  text-align: center;
  align-items: center;
  margin-left: 28%;
}

.navTitle a {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 11px;
}

.navLogo {
  width: 11%;
}

.back {
  width: 15%;
  cursor: pointer;
}

.back:hover {
  transform: scale(1.1);
}
